<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ordering</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FetchServices</display-name>
    <servlet-name>FetchServices</servlet-name>
    <servlet-class>com.DAO.FetchServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServices</servlet-name>
    <url-pattern>/FetchServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stateAjax</display-name>
    <servlet-name>stateAjax</servlet-name>
    <servlet-class>com.DAO.stateAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stateAjax</servlet-name>
    <url-pattern>/stateAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Password</display-name>
    <servlet-name>Password</servlet-name>
    <servlet-class>Login_Pack.Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesRep</display-name>
    <servlet-name>SalesRep</servlet-name>
    <servlet-class>Login_Pack.SalesRep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesRep</servlet-name>
    <url-pattern>/SalesRep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>Login_Pack.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.customerservlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProducts1</display-name>
    <servlet-name>GetProducts1</servlet-name>
    <servlet-class>com.customerservlet.GetProducts1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProducts1</servlet-name>
    <url-pattern>/GetProducts1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDate</display-name>
    <servlet-name>GetDate</servlet-name>
    <servlet-class>com.customerservlet.GetDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDate</servlet-name>
    <url-pattern>/GetDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenXml</display-name>
    <servlet-name>GenXml</servlet-name>
    <servlet-class>com.DAO.GenXml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenXml</servlet-name>
    <url-pattern>/GenXml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDb</display-name>
    <servlet-name>UpdateDb</servlet-name>
    <servlet-class>com.dao1.UpdateDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDb</servlet-name>
    <url-pattern>/UpdateDb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDao</display-name>
    <servlet-name>CustomerDao</servlet-name>
    <servlet-class>com.dao1.CustomerDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDao</servlet-name>
    <url-pattern>/CustomerDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustClient</display-name>
    <servlet-name>CustClient</servlet-name>
    <servlet-class>com.dao1.CustClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustClient</servlet-name>
    <url-pattern>/CustClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientServ1</display-name>
    <servlet-name>ClientServ1</servlet-name>
    <servlet-class>com.dao1.ClientServ1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServ1</servlet-name>
    <url-pattern>/ClientServ1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServ</display-name>
    <servlet-name>AddressServ</servlet-name>
    <servlet-class>com.dao1.AddressServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServ</servlet-name>
    <url-pattern>/AddressServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddrClient</display-name>
    <servlet-name>AddrClient</servlet-name>
    <servlet-class>com.dao1.AddrClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddrClient</servlet-name>
    <url-pattern>/AddrClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuspendRestore</display-name>
    <servlet-name>SuspendRestore</servlet-name>
    <servlet-class>SuspendRestore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuspendRestore</servlet-name>
    <url-pattern>/SuspendRestore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServices</display-name>
    <servlet-name>GetServices</servlet-name>
    <servlet-class>GetServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServices</servlet-name>
    <url-pattern>/GetServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceCustomerId_disconnect</display-name>
    <servlet-name>ServiceCustomerId_disconnect</servlet-name>
    <servlet-class>ordering.ServiceCustomerId_disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceCustomerId_disconnect</servlet-name>
    <url-pattern>/ServiceCustomerId_disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_disconnect</display-name>
    <servlet-name>Update_disconnect</servlet-name>
    <servlet-class>ordering.Update_disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_disconnect</servlet-name>
    <url-pattern>/Update_disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductClient</display-name>
    <servlet-name>ProductClient</servlet-name>
    <servlet-class>com.dao1.ProductClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductClient</servlet-name>
    <url-pattern>/ProductClient</url-pattern>
  </servlet-mapping>
</web-app>